<html>
<head>
<title>Registration Form</title>
<link rel="stylesheet" href="static/css/Material Design Bootstrap_2_files/all.css">
  <!-- Bootstrap core CSS -->
  <link href="static/css/Material Design Bootstrap_2_files/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="static/css/Material Design Bootstrap_2_files/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="static/css/Material Design Bootstrap_2_files/style.css" rel="stylesheet">
  <link href="static/css/march5.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<style>
body{
background-color:#043927;
}
</style>
</head>
<body>
<!-- Default form register -->
<form action="./regtodynamo" method="POST">
  <label>
    <p class="label-txt">ENTER YOUR NAME</p>
    <input type="text" class="input" name="CUSTEMER_ID">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PLACE</p>
    <input type="text" class="input" name="PLACE">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PHONE NUMBER</p>
    <input type="text" class="input" name="PHNO">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR IMAGE</p>
    <input type="file" class="input" name="IMG">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit">submit</button>
</form>

<!-- Default form register -->


  <!------- scripts-------->
<script type="text/javascript" src="static/js/Material Design Bootstrap_2_files/jquery-3.3.1.min.js.download"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="static/js/Material Design Bootstrap_2_files/popper.min.js.download"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="static/js/Material Design Bootstrap_2_files/bootstrap.min.js.download"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="static/js/Material Design Bootstrap_2_files/mdb.js.download"></script>
  <script type="text/javascript" src="static/js/march5.js"></script>


</body>
</html>